<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacBlockerAppFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MacBlockerCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MacBlockerMacControl.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MacBlockerPanel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MacBlockerScreenTime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MacBlockerWebUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>macosBlocker-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>MacBlockerAppFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MacBlockerCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MacBlockerCoreTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MacBlockerMacControl</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MacBlockerMacControlTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MacBlockerPanel</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MacBlockerScreenTime</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MacBlockerWebUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
